<!doctype html>
<html ng-app="monitorApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Internet Monitoring</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
		<script	src="./controller.js"></script>
	</head>
	<body ng-controller="MonitorCtrl">
		<div class="container">
			<h3>Speed</h3>
			<br />
			<div style="height:600px;width:100%;text-align:center">
				<canvas style="display:inline-block" class="chart chart-line" chart-data="speedData" chart-labels="speedLabels" chart-series="speedSeries" chart-colors="speedColours" chart-options="options"></canvas>
			</div>
			<table class="table table-responsive">
				<tr>
					<th></th>
					<th>Download</th>
					<th>Upload</th>
					<th>Ping</th>
				</tr>
				<tr>
					<th>Average</th>
					<td>{{avDownload}} Mbps</td>
					<td>{{avUpload}} Mbps</td>
					<td>{{avPing}} ms</td>
				</tr>
				<tr>
					<th>Best</th>
					<td>{{maxDownload}} Mbps</td>
					<td>{{maxUpload}} Mbps</td>
					<td>{{minPing}} ms</td>
				</tr>
				<tr>
					<th>Worst</th>
					<td>{{minDownload}} Mbps</td>
					<td>{{minUpload}} Mbps</td>
					<td>{{maxPing}} ms</td>
				</tr>
			</table>
			<br />
			<h3>Internet Outages</h3>
			<i ng-hide="onlineData.length == 0">Maximum of <span style="color:red">{{onlineWindow.max.count}}</span> outage{{onlineWindow.max.count != 1 ? 's' : ''}} per 24 hours between
				<span style="color:red">{{formatDateTime(onlineWindow.max.start)}}</span> and <span style="color:red">{{formatDateTime(onlineWindow.max.end)}}</span>
				 (average of <span style="color:red">{{onlineWindow.averageCount}}</span>).</i>
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Start</th>
						<th>End</th>
						<th>Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="outage in onlineData">
						<td>{{formatDateTime(outage.start)}}</td>
						<td>{{formatDateTime(outage.end)}}</td>
						<td>{{toDuration(outage.start, outage.end)}}</td>
					</tr>
				</tbody>
			</table>

			<br />
			<h3>Ping</h3>
			<i>Note: depending on the device this is running on these times might be meaningless.</i>
			<br />
			<canvas class="chart chart-line" chart-data="pingData" chart-labels="speedLabels" chart-series="['Ping']" chart-colors="speedColours" chart-options="options"></canvas>
			<br />
			<button type="button" class="btn btn-primary btn-md" ng-click="reloadData()">Update Data</button>
			<br />
			<br />
		</div>
	</body>
</html>
